{%extends "base.html"%} {%block content%}
<div class="container">
  <h1>Info</h1>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Participating Colleges</th>
        <th scope="col">Participating Students</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(N) %}
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{col[i]}}</td>
        <td>{{stu[i]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h1>Resulting Match</h1>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">College</th>
        <th scope="col">Student</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(N) %}
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{ans[i][0]}}</td>
        <td>{{ans[i][1]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="/"><button type="button" class="btn btn-dark">Go Back</button></a>
</div>
{%endblock%}
